security:
  # Password hashing
  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
    App\Entity\User:
      algorithm: auto

  # User provider
  providers:
    app_user_provider:
      entity:
        class: App\Entity\User   # <-- make sure this matches your actual User entity class
        property: email

  # Firewalls
  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      lazy: true
      provider: app_user_provider
      form_login:
        login_path: app_login
        check_path: app_login
        enable_csrf: true
        default_target_path: todo_list
        # IMPORTANT: leave defaults so Symfony expects "_username" and "_password"
      logout:
        path: app_logout
        target: todo_index
      remember_me:
        secret: '%kernel.secret%'
        lifetime: 604800
        path: /
        # always_remember_me: true

  # Access control rules
  access_control:
    - { path: ^/login, roles: PUBLIC_ACCESS }
    - { path: ^/register, roles: PUBLIC_ACCESS }
    - { path: ^/todo, roles: ROLE_USER }

when@test:
  security:
    password_hashers:
      Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
        algorithm: auto
        cost: 4
        time_cost: 3
        memory_cost: 10
