{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to the To‑Do App</h1>
    <p><a href="{{ path('todo_list') }}">View Tasks</a></p>
    <p><a href="{{ path('todo_new') }}">Create New Task</a></p>
{% endblock %}
